
.login {
    max-width: 350px;
    margin: 70px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    justify-items: center;

}
.divLogin{
    width: 100%;
}
